body {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: tahoma;
  background-color: #05102023;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 0;
}

.encabezado {
  display: flex;
  padding-top: 1.5vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
  justify-content: space-between;
  align-items: center;
  background-color: #051020; 
}

.titulo-contenedor {
  display: flex;
  gap: 17vh;
  align-items: center;
}

.titulo {
  margin: 0;
  color: white;
}

.logo-apt {
  padding: 0;
  margin: 0;
  width: 15%;
  height: auto;
  object-fit: contain;
}

.menu-btn {
  background: none;
  border: none;;
  color: #051020;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu {
 background-color: #051020;
 width: 60%;
 height: auto;    
 position: absolute;
 left: 0;
 color: white;
 padding: 2vh;
 margin: 0;
 box-sizing: border-box;
 z-index: 1000; 
 border-bottom-right-radius: 1vh;
 border-right: 1px solid #007bff;
 border-bottom: 1px solid #007bff;
}

.menu ul li {
  margin-bottom: 1vh;
}

.menu ul li a {
  color: #051020;
  text-decoration: none;
}

.menu-btn {
  font-size: 3vh;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu-fondo {
  max-width: 100%;
  margin: 0 auto;
  z-index: 10001;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vh;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10001;
}

.menu ul li {
  flex: 1 1 20%;
  min-width: 120px;
  text-align: center;
}

.boton {
  width: 100%;
  padding: 0.5vh;
  border: none;
  border-radius: 1vh;
  background-color: white;
  color: #051020;
  border: 1px solid #051020;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
  transform: background-color 0.3s ease trnasition 0.3s;
  transition: all 0.3s ease;
}

.boton:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px white;
}

.boton:hover {
  background-color: white;
  transition: 0.3s;
  transform: translateY(-10px);
  box-shadow: 0 10px 5px white;
}

.boton img {
  width: 20%;
  height: auto;
  padding: 0;
  margin: 0;
  object-fit: contain;
}

.boton span {
  font-size: 1.5vh;
  padding: 0;
  margin: 0;
}

.modal {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10002;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-contenido.fondo-club {
  max-height: 90vh;
  overflow-y: auto;
}

.bloques-alternados-interno {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 1vh;
  width: 90%;
  margin: auto;
  background-color: transparent;
}

.bloques-alternados-interno .bloque {
  padding: 1vh;
  border: 1px solid rgba(255, 215, 0, 0.5);
  background-color: #081525;
}

.bloqueo {
  display: none;
  text-align: center;
}

@media (min-width: 450px) {
  body > *:not(.bloqueo) {
  display: none !important;
  }

  .bloqueo {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  background-color: #051020;
  padding: 5vh;
  animation: fadeIn 0.5s ease-in-out;
 }

  .bloqueo span {
    font-size: 700%;
    margin-top: 4vh;
 }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-contenido {
  padding: 3vh;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: #333;
}

.grupo-botones {
  display: flex;
  justify-content: space-around;
  background-color: #051020;
  padding-top: 1vh;
  padding-bottom: 0;
  margin-bottom: 1vh;
  z-index: 10001;
}

.grupo-btn {
  font-size: 1.5vh;
  padding: 1vh;
  width: 30%;
  height: auto;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-bottom: 2vh;
  background-color: #0a1a30;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.9);
  transition: transform 0.2s ease;
  transition: all 0.3s ease;
}

.grupo-btn:active {
  transform: translateY(-9px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.grupo-btn:hover {
  background-color: #051030;
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.modal-contenido {
  padding: 1vh;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: #051020;
  margin: 4vh;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.grupo-lista {
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.grupo-lista li button {
  display: flex;
  align-items: center;
  gap: 1vh;
  padding: 1vh;
  border: none;
  font-size: 1.5vh;
  border-radius: 6px;
  background-color: white;
  color: #051020;
  font-weight: bold;
  border-bottom: 1px solid #007bff;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin: auto;
  transition: all 0.3s ease;
}

.grupo-lista li button:hover {
  transform: translateY(-7px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  color: white;
}

.grupo-lista li button:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.grupo-lista li button img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.cerrar-btn {
  margin-top: 2vh;
  padding: 1vh 2vh;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cerrar-btn:hover {
  background-color: #c0392b;
}

.pie {
  display: flex;
  justify-content: center;
  gap: 1vh;
  background-color: #05102000;
  padding: 1vh;
  margin-top: 4vh;
}

.pie button {
  background-color: white;
  color: #051020;
  font-weight: bold;
  border-bottom: 2px solid #007bff;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 1vh;
  border-radius: 1vh;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  transition: all 0.3s ease;
}

.pie button:hover {
  background-color: white;
  transform: translateY(-7px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.pie button:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-contenido {
  background-color: #051020;
  padding: 3vh;
  color: white;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.modal-contenido h2 {
  display: flex;
  align-items: center;
  gap: 1vh;
  justify-content: center;
  font-size: 2.5vh;
}

.modal-contenido img {
  height: 4vh;
  width: auto;
  object-fit: contain;
}

.modal-contenido.fondo-formulario {
  background-color: #051020;
  color: white;
  padding: 1vh;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.modal-contenido label {
  display: block;
  margin-top: 2vh;
  font-weight: bold;
  font-size: 2vh;
}

.modal-contenido input,
.modal-contenido select {
  width: 100%;
  padding: 1vh;
  margin-top: 0.5vh;
  border-radius: 6px;
  border: none;
  font-size: 2vh;
  color: #333;
}

.modal-contenido button:hover {
  background-color: #3d5a73;
}

.seccion-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    margin: 0;
}

.boton-formulario {
    background-color: #051020;
    color: white;
    border: none;
    padding: 2vh;
    border-radius: 8px;
    font-size: 1.5vh;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    width: 70%;
    transition: background-color 0.2s ease, transform 0.2s ease;
    box-shadow: 0 2px 6px #051020;
    transition: all 0.3s ease;
}

.boton-formulario:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px #051020;
}

.boton-formulario:hover {
  background-color: #051020;
  transform: scale(1.03);
  box-shadow: 0 12px 25px #051020;
  transform: translateY(-7px);
}


.modal-contenido.fondo-formulario {
  background-color: #051020;
  color: white;
  padding: 1vh;
  border-radius: 10px;
  width: 90%;
  font-family: sans-serif;
  opacity: 0;
  transform: scale(0.9);
  animation: aparecer 0.4s forwards;
}

@keyframes aparecer {
  to {
  opacity: 1;
  transform: scale(1);
 }
}

@keyframes desaparecer {
  to {
  opacity: 0;
  transform: scale(0.9);
 }
}

.modal-contenido label {
  display: block;
  font-weight: bold;
  font-size: 1.2vh;
  text-align: left;
  padding: 0;
  margin: 0;
}

.modal-contenido input,
.modal-contenido select {
  width: 100%;
  padding: 0.5vh;
  margin-top: 0.5vh;
  border-radius: 6px;
  border: none;
  font-size: 1.2vh;
  background-color: white;
  color: #051020;
}

.modal-contenido button {
  margin-top: 2vh;
  padding: 1vh;
  background-color: #051020;
  border: 1px solid #007bff;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2vh;
  transition: background-color 0.2s ease;
}

.modal-contenido button:hover {
  background-color: #051020;
}

.bloques-alternados {
  display: grid;
  flex-direction: column;
  gap: 3vh;
  padding: 2vh;
  text-align: center;
  width: 88%;
  border-radius: 1vh;
  margin: auto;
  background-color: #051020;
  color: white;
}

.bloque {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1vh;
  border-radius: 1vh;
  padding: 1vh;
  background-color: #051020;
  transition: all 0.3s ease;
  border: 1px solid goldenrod;
}

.bloque:hover {
  transform: translateY(-7px);
  box-shadow: 0 12px 25px white;
  border: 1px solid #ffffff;
}

.bloque:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px white;
}

.titulo,
.info {
  width: 45%;
  margin: 0;
  font-size: 2vh;
  line-height: 1.6;
  text-align: center;
  margin: auto;
}

.izquierda {
  text-align: left;
  font-size: 1vh;
}

.derecha {
  text-align: right;
  font-size: 1vh;
}

.barra-social {
  background-color: #05102000;
  padding: 1vh;
  display: flex;
  justify-content: center;
}

.iconos-sociales {
  display: flex;
  gap: 3vh;
  align-items: center;
  background-color: none;
}

.icono {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-color: none;
  border-radius: 1vh;
  transition: all 0.3s ease;
}

.icono:hover {
  transform: scale(1.1);
  transition: 0.3s;
  transform: translateY(-7px);
}

.icono:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px #051020;
}

.instagram  { background-image: url('icons8-instagram-48.png'); 
}

.facebook   { background-image: url('icons8-facebook-nuevo-48.png'); 
}

.x          { background-image: url('icons8-linkedin-48.png'); 
}

.youtube    { background-image: url('icons8-youtube-play-48.png'); 
}

.linkedin   { background-image: url('icons8-twitterx-30.png'); 
}

.pinterest  { background-image: url('icons8-microsoft-outlook-2019-48.png'); 
}

.plataforma { background-image: url('icons8-whatsapp-48.png'); 
}

.footer-legal {
  background-color: #051020;
  color: white;
  text-align: center;
  padding: 1vh;
  font-size: 1.2vh;
  border-top: 1px solid #007bff;
  font-family: sans-serif;
}

.footer-legal p {
  margin: 1vh 0;
}

.modal-base {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.contenido-modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  animation: fadeIn 0.4s ease-in-out;
}

.oculto {
  display: none !important;
}

.modal-contenido.fondo-club {
  background-color: #051020;
  color: white;
  margin: 0;
  padding: 1vh;
  border-radius: 10px;
  width: 100%;
  font-family: sans-serif;
  opacity: 0;
  transform: scale(0.9);
  animation: aparecer 0.4s forwards;
}

@keyframes aparecer {
  to {
  opacity: 1;
  transform: scale(1);
 }
}

@keyframes desaparecer {
  to {
  opacity: 0;
  transform: scale(0.9);
 }
}

.modal-contenido input {
  width: 90%;
  padding: 0.5vh;
  margin: 1vh;
  border-radius: 6px;
  border: none;
  font-size: 1.2vh;
  background-color: white;
  font-weight: bold;
  color: #051020;
}

.seccion-clubes {
  display: flex;
  justify-content: center;
  padding: 1vh;
}

.boton-club {
  background-color: #051020;
  color: white;
  border: none;
  padding: 2vh;
  border-radius: 1vh;
  font-size: 1.5vh;
  font-weight: bold;
  cursor: pointer;
  width: 70%;
  transition: background-color 0.2s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px #051020;
}

.boton-club:hover {
  background-color: #051020;
  box-shadow: 0 12px 25px #051020;
  transform: scale(1.05);
}

.boton-club:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px #051020;
}

.botones-club {
  display: grid;
  margin: auto;
  gap: 1vh;
}

.botones-club button {
  background-color: #051020;
  color: white;
  font-weight: bold;
  border-radius: 1vh;
  padding: 1vh;
  width: 50%;
  margin: auto;
}

.botones-club button:hover {
  background-color: white;
  color: #051020;
  font-weight: bold;
}

.modal-base input {
  background-color: white;
  border: 1px solid #007bff;
  padding: 1vh;
  width: 90%;
  margin: auto;
  border-radius: 1vh;
  margin-bottom: 1vh
}

.modal-base p {
  margin: auto;
  margin-bottom: 0.5vh;
  font-size: 1.5vh;
  text-align: left; 
}

.imagen-club2 {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.imagen-club {
  width: 60px;
  height: 60px;
  margin: auto;
  padding: 0;
  display: flex;
}

.modal-base {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.contenido-modal {
  background: #051020;
  color: white;
  border: 1px solid #007bff;
  padding: 20px;
  border-radius: 10px;
  max-width: 60%;
  max-height: 90%;
  overflow-y: auto;
  animation: fadeIn 0.4s ease-in-out;
}

.oculto {
  display: none !important;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-anuncio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.contenido-anuncio {
  background-color: #051020;
  color: white;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 90%;
}

.contenido-anuncio h2 {
  color: white;
  font-size: 1.4em;
  margin-bottom: 15px;
}

.contenido-anuncio p {
  font-size: 1.5vh;
  line-height: 3vh;
  margin-bottom: 25px;
}

.contenido-anuncio strong {
  font-size: 2vh;
}

.boton-anuncio {
  background-color: #051020;
  color: white;
  border: 1px solid #007bff;
  padding: 1vh;
  border-radius: 1vh;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.boton-anuncio:hover {
  background-color: #007bff;
  transition: 0.3s;
  transform: translateY(-7px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.boton-anuncio:active {
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.buscador-rapido {
  background-color: #051020;
  padding: 3vh 2vh;
  text-align: center;
  border-top: 1px solid rgba(255, 215, 0, 0.2);
  border-bottom: 1px solid rgba(255, 215, 0, 0.2);
  margin-bottom: 4vh;
  border-radius: 1vh;
  margin: 1vh;
}

.titulo-buscador {
  color: white;
  font-size: 2vh;
  padding: 0;
}

.formulario-busqueda {
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid #007bff;
  border-radius: 8px;
  overflow: hidden;
}

.input-busqueda {
  flex-grow: 1;
  padding: 1.5vh;
  font-size: 1.5vh;
  border: none;
  outline: none;
  background-color: #102030;
  color: white;
  width: 900%;
}

.input-busqueda::placeholder {
  color: #aaa;
}

@keyframes elevar {
    0% { transform: translateY(0); box-shadow: 0 0 0 rgba(0,0,0,0); }
    50% { transform: translateY(-10px); box-shadow: 0 10px 20px rgba(0,0,0,0.5); }
    100% { transform: translateY(0); box-shadow: 0 0 0 rgba(0,0,0,0); }
}

.boton-busqueda {
    background-color: #051020;
    color: white;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    transition: background-color 0.2s ease;
}

.boton-busqueda.elevando {
    animation: elevar 3s ease-in-out forwards; 
}

.nota-buscador {
  color: #aaa;
  font-size: 1.4vh;
  margin-top: 1.5vh;
}

.modal-contenido.fondo-enlaces {
    background-color: #051020;
    color: white;
    padding: 3vh;
    width: 80%;
    max-width: 400px;
    border: 1px solid #007bff;
}

.modal-contenido.fondo-enlaces h2 {
    color: #007bff;
}

.modal-contenido.fondo-enlaces p {
    font-size: 1.5vh;
    text-align: center;
    margin-bottom: 2vh;
}

.grupo-botones-enlace {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin: 3vh 0;
}

.enlace-btn {
    text-decoration: none;
    padding: 1.5vh;
    background-color: #051020;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.5vh;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid #007bff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.enlace-btn:hover {
    background-color: #051020;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.7);
}

.enlace-btn:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-contenido.fondo-enlaces .cerrar-btn {
    background-color: #e74c3c;
    border: none;
    width: 50%;
    padding: 1vh;
    margin-top: 2vh;
}

.enlace-deshabilitado {
    cursor: not-allowed; 
    opacity: 0.5;
    pointer-events: none;
}

@keyframes elevar {
    0% { transform: translateY(0); box-shadow: 0 0 0 rgba(0,0,0,0); }
    
    50% { transform: translateY(-10px); box-shadow: 0 10px 20px rgba(0,0,0,0.0); } 
    
    100% { transform: translateY(0); box-shadow: 0 0 0 rgba(0,0,0,0); }
}

.boton-busqueda.elevando {
    animation: elevar 3s ease-in-out forwards; 
}

.boton-busqueda {
    transform-style: preserve-3d;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

button[data-key="cambiar_idioma_btn"] {
    background-color: goldenrod;
    color: white;
    padding: 1vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 1.5vh;
    transition: background-color 0.3s;
    width: auto;
    margin: 1vh;
}

button[data-key="cambiar_idioma_btn"]:hover {
    background-color: rgb(172, 130, 24);
}

button[data-key="cerrar_modal_idioma"] {
    background-color: darkred;
    color: white;
    padding: 1vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 1.5vh;
    transition: background-color 0.3s;
    width: auto;
    margin: 1vh;
}

button[data-key="cerrar_modal_idioma"]:hover {
    background-color: rgb(87, 2, 2);
}